<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= locals.title %></title>
    <link rel="stylesheet" href="/static/categoryAndGenre.css" />
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/">Categories</a></li>
        <li><%= locals.title %></li>
      </ul>
    </nav>
    <h1><%= locals.title %></h1>
    <form
      action="<%=`/category?categoryId=${locals.categoryId}&categoryName=${locals.title}`%>"
      method="POST"
    >
      <label
        ><span>Search Genre: </span
        ><input type="text" name="genre" value="<%=locals.searchValue%>"
      /></label>
      <button>Search</button>
    </form>
    <h2>Genres</h2>
    <a
      href="/category/createGenre?categoryId=<%=locals.categoryId%>&categoryName=<%=locals.title%>"
      ><button class="create-genre-btn">Create Genre</button></a
    >
    <div class="genres">
      <% for(let genre of locals.genres) {%>
      <div class="genre">
        <h3>
          <a
            href="/category/genre?genreId=<%=genre.id%>&genreName=<%=genre.name%>&categoryName=<%=locals.title%>&categoryId=<%=locals.categoryId%>"
            ><%=genre.name%></a
          >
        </h3>
        <button>
          <a
            href="/category/editGenre?categoryId=<%=locals.categoryId%>&categoryName=<%=locals.title%>&genreId=<%=genre.id%>"
          >
            Edit
          </a>
        </button>
        <button>
          <a
            href="/category/deleteGenre?categoryId=<%=locals.categoryId%>&categoryName=<%=locals.title%>&genreId=<%=genre.id%>"
          >
            Delete
          </a>
        </button>
      </div>
      <%}%>
    </div>
  </body>
</html>
